<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
 
    <ros2_control name="RobotSystem" type="system"> <!-- configure ros2 control library -->
        
        <xacro:if value="$(arg is_ignition)"> <!-- ROS2 Humble-->
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)"> <!-- ROS2 Jazzy-->
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="wheel_right_joint">
            <command_interface name="velocity"> <!-- how to send commands to the motors-->
                <param name="min">-1</param> <!--rad-->
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/> <!-- how to reciive the feedback from the motors-->
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel_left_joint">
            <command_interface name="velocity"> <!-- how to send commands to the motors-->
                <param name="min">-1</param> <!--rad-->
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/> <!-- how to reciive the feedback from the motors-->
            <state_interface name="velocity"/>
        </joint>
        
    </ros2_control>


</robot>


